/* ejemplo de variable en $colorfondonav*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: $colorfondonav;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgb(0, 0, 0);
    flex: auto;
  }
  
  /*ejemplo nesting y uso del selector & en SAAS*/

  li {
    float: left;
    a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      &:hover:not(.active) {
        background-color: #111;
      }

      &:hover:not(.active) {
        background-color: #111;
      }
      
      .active {
        background-color: #ff0000;
      }
  }
   
 
 